body{
    margin: 0%;
    padding: 0%;
}
header{
    height: auto;
    background: #70a5a7;
    color: #ffffff;
}
header h1{
    margin: 0%;
    padding: 5%;
    font-size: 1000%;
    font-family: monospace;
    text-align: center;
    text-shadow: 0px 12px #000000;
}
/* top navigation start */
#top ul{
    padding: 0%;
    margin: 0%;
    list-style: none;
    text-align: center;
    text-shadow: 2px 4px #000000;
}
#top ul li{
    border-top: solid 2px #ffffff;
    padding: 3%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 300%;
    margin: 0%;
}
#top ul li a, #top ul li a:visited{
    color: #ffffff;
    text-decoration: none;
}
#top ul li a:focus, #top ul li a:hover{
    color: #000000;
    background: #ffffff;
    text-shadow: none;
}
i.fa-ellipsis-h, i.fa-times{
    display: block;
    padding: 3%;
    color: #ffffff;
    font-size: 300%;
    text-align: center;
    border-top: solid 2px #ffffff;
    text-shadow: 0px 5px #000000;
}
.hide{
    display: none;
}
/* top navigation end */
i.fa-arrow-circle-up{
    position: fixed;
    top: 70%;
    right: 0%;
    color: #70a5a7;
    opacity: 0.5;
    font-size: 300%;
    text-shadow: 0px 5px #000000;
}
/* home section */
#home{
    margin: 5%;
    padding: 5%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size: 250%;
    text-align: center;
}
#home h2{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 500%;
    font-weight: lighter;
    margin: 0 auto;
}
#home img{
    display: block;
    padding: 0% 0% 5% 0%;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
/* home section ends */
/* project section */
#projects{
    margin: 5%;
    padding: 5%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size: 250%;
    text-align: center;
}
#projects h2{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 250%;
    font-weight: lighter;
    padding: 5% 0%;
    margin: 0%;
    border-bottom: 2px solid #70a5a7;
    border-top: 2px solid #70a5a7;
}
/* project section ends */
#projects img, #certifications a img{
    width: 100%;
}
/* certification section */
#certifications{
    margin: 5%;
    padding: 5%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size: 250%;
    text-align: center;
}
#certifications h2{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 250%;
    font-weight: lighter;
    padding: 5% 0%;
    margin: 0%;
    border-bottom: 2px solid #70a5a7;
    border-top: 2px solid #70a5a7;
}
/* certification section ends */
i.fa-dot-circle{
    color: #70a5a7;
    padding: 5%;
}
/* contact section */
#contact{
    margin: 5%;
    padding: 5%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size: 250%;
    text-align: center;
}
#contact h2{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 250%;
    font-weight: lighter;
    padding: 5% 0%;
    margin: 0%;
    border-bottom: 2px solid #70a5a7;
    border-top: 2px solid #70a5a7;
}
#contact form{
    margin: 5%;
    padding: 5%;
    font-size: 152.5%;
}
#name, #email, #query, #submit{
    margin: 8% auto;
    border: 3px solid #70a5a7;
    width: 100%;
    height: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    box-shadow: 0px 5px#000000;
}
/* contact section ends */
/* footer section */
footer{
    height: auto;
    background: #70a5a7;
    color: #ffffff;
    margin: 0%;
    padding: 5%;
    font-size: 250%;
    font-family: monospace;
    text-align: center;
    text-shadow: 0px 6px #000000;
}
footer ul{
    padding: 0%;
    margin: 0%;
    list-style: none;
    text-align: center;
    text-shadow: 2px 4px #000000;
}
footer ul li{
    display: inline-block;
    padding: 0% 5%;
    margin: 0% 5%;
}
i.fa-linkedin-in, i.fa-instagram, i.fa-github{
    color: #ffffff;
    font-size: 250%;
    text-shadow: 0px 5px #000000;
}