body{
    margin: 0%;
    padding: 0%;
}
header{
    width: 100%;
    height: auto;
    background: #70a5a7;
    color: #ffffff;
    box-shadow: 0px 0px 10px #000000;
}
header h1{
    margin: 0%;
    padding: 5%;
    font-size: 500%;
    font-family: monospace;
    text-align: center;
    text-shadow: 0px 5px 10px #000000;
}
/* top navigation start */
#top ul{
    padding: 0%;
    margin: 0%;
    list-style: none;
    text-align: center;
    text-shadow: 0px 0px 10px #000000;
}
#top ul li{
    padding: 3%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 150%;
    margin: 0%;
}
#top ul li a, #top ul li a:visited{
    color: #ffffff;
    text-decoration: none;
}
i.fa-ellipsis-h, i.fa-times{
    display: block;
    padding: 3%;
    color: #ffffff;
    font-size: 200%;
    text-align: center;
    text-shadow: 0px 0px 10px #000000;
}
.hide{
    display: none;
}
/* top navigation end */
i.fa-arrow-circle-up{
    position: fixed;
    top: 75%;
    right: 5%;
    color: #70a5a7;
    opacity: 0.5;
    font-size: 200%;
    text-shadow: 0px 0px 10px #000000;
}
/* home section */
#home{
    margin: 5%;
    padding: 5%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size: 150%;
    text-align: center;
    align-content: center;
}
#home h2{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
    font-weight: lighter;
    margin: 3% auto;
}
#home img{
    display: block;
    padding: 0% 0% 5% 0%;
    width: 80%;
    max-width: 250px;
    border-radius: 100%;
    margin: 0% auto;
}
/* home section ends */
/* project section */
#projects{
    margin: 5%;
    padding: 5%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size: 150%;
    text-align: center;
}
#projects h2{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    padding: 5% 0%;
    margin: 0%;
    border-bottom: 2px solid #70a5a7;
    border-top: 2px solid #70a5a7;
}
/* project section ends */
#projects img, #certifications a img{
    width: 100%;
}
/* certification section */
#certifications{
    margin: 5%;
    padding: 5%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size: 150%;
    text-align: center;
}
#certifications h2{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    padding: 5% 0%;
    margin: 0%;
    border-bottom: 2px solid #70a5a7;
    border-top: 2px solid #70a5a7;
}
/* certification section ends */
i.fa-dot-circle{
    color: #70a5a7;
    padding: 5%;
}
/* contact section */
#contact{
    margin: 5% auto;
    padding: 5% 0%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size: 150%;
    text-align: center;
    width: 80%;
}
#contact h2{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    padding: 5% 0%;
    margin: 0%;
    border-bottom: 2px solid #70a5a7;
    border-top: 2px solid #70a5a7;
}
#contact form{
    margin: 0% 5%;
    padding: 0% 5%;
    font-size: 100%;
}
#name, #email, #query, #submit{
    margin: 2% auto;
    border: 1px solid #70a5a7;
    width: 100%;
    max-width: 400px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    box-shadow: 0px 0px 10px #000000;
    padding: 0%;
}
iframe{
    width: 80%;
    height: 250px;
    margin: 5%;
    box-shadow: 0px 0px 10px #000000;
}
/* contact section ends */
/* footer section */
footer{
    height: auto;
    background: #70a5a7;
    color: #ffffff;
    padding: 5%;
    font-size: 100%;
    font-family: monospace;
    text-align: center;
    text-shadow: 0px 2px 10px #000000;
    box-shadow: 0px 0px 10px #000000;
}
footer ul{
    padding: 0%;
    margin: 0%;
    list-style: none;
    text-align: center;
}
footer ul li{
    display: inline-block;
    padding: 0% 3%;
    margin: 0% 4%;
}
i.fa-linkedin-in, i.fa-instagram, i.fa-github, i.fa-envelope{
    color: #ffffff;
    font-size: 200%;
    text-shadow: 0px 0px 10px #000000;
}
@media all and (min-width:700px){
    #top ul li{
        display: inline-block;
        padding: 3%;
        font-family: 'Courier New', Courier, monospace;
        font-size: 150%;
        margin: 0%;
    }
    .show-lg-scrn{
        display: block;
    }
    .hide-lg-scrn{
        display: none;
    }
}
@media all and (min-width:900px){
     header{
        width: 40%;
        max-width: 350px;
    }
    #top{
        width: 100%;
        position: fixed;
        top: 0%;
        right: 0%;
        background: #70a5a7;
        box-shadow: 0px 0px 10px #000000;
        z-index: -1;
    } 
    #top ul{
        margin: 0% 0% 0% 30%;
    }
    #top ul li{
        display: inline-block;
        padding: 2%;
    }
    #top ul li a:hover, #top ul li a:focus{
        font-weight: 600;
    }
    i.fa-arrow-circle-up{
        display: none;
    }
    #home{
        font-size: 150%;
        margin: 0% 5%;
        text-align: left;
    }
    #home h2{
        display: inline-block;
        text-align: left;
        font-family: 'Courier New', Courier, monospace;
        font-size: 200%;
        font-weight: lighter;
        margin: 0% 0% 0% 11.5%;
    }
    #home p{
        margin: 2% 0% 0% 35%;
        padding: 0%;
    }
    #home img{
        float: left;
        margin: 0% 2%;
    }
    #contact form{
        text-align: left;
        float: left;
    }
    iframe{
        width: 30%;
        height: 250px;
        margin: 10% 5%;
        box-shadow: 0px 0px 10px #000000;
        display: inline-block;
    }
}